@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
:root{--gold:#7f1d1d;--gold2:#ef4444;--dark:#050505;--dark2:#0d0d0d;--white:#fff;--muted:#aaa;--border:#242424;--soft:#f7f7f7;--black:#111}
